:root {
    font-size: 62.5%;
    --default-theme-bgcolor: #FFF;
    --default-theme-color: #000;
    --fade-theme-bgcolor: #cbd5e1;
    --general-theme-bgcolor: #f43f5e;
    --division-theme-bgcolor: rgba(244, 63, 94, 0.3);
    --valid-theme-color: #22c55e;
    --invalid-theme-color: #dc2626;
    --general-theme-font: monospace, serif, sans-serif;

    --border-radius: 2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

button {
    border-radius: var(--border-radius);
    width: 100%;
    height: 100%;
    border: 0;
    outline-color: var(--general-theme-bgcolor);
}

button:active {
    transform: scale(0.97);
}

.container {
    min-height: 100vh;
    z-index: 0;
    display: flex;
    flex-direction: column;
}

.container div {
    padding: 1rem;
    z-index: 0;
}

div.content {
    background-color: var(--fade-theme-bgcolor);
    /* min-height: 90%; */
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
}

div.wrapper {
    background-color: var(--default-theme-bgcolor);
    border-radius: var(--border-radius);
    max-width: 100%;
    max-height: 100%;
    width: max(80ch, 40rem);
    height: max(80ch, 40rem);
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

div.selection {
    padding: 1rem;
}

div.faction {
    display: flex;
    gap: 1rem;
}

button.btn-faction {
    height: 4rem;
}

div.game {
    background-color: var(--general-theme-bgcolor);
    /* height: 23rem; */
    flex: 1;
}

div.controls {}

button.btn-controls {
    height: 4rem;
}

div.header,
div.footer {
    background-color: var(--general-theme-bgcolor);
    min-height: 5%;
    display: flex;
    align-items: center;
    font-weight: bolder;
}

div.header {
    justify-content: center;
}

div.footer {
    justify-content: center;
}

/* @media screen and (max-width: 900px) {
    div.container {
        width: auto;
        height: auto;
    }
    
    div.wrapper {
        width: 90vw;
        height: auto;
    }
}

@media screen and (max-width: 500px) {
    div.container {
        width: auto;
        height: auto;
    }
    
    div.wrapper {
        width: 100vw;
        height: auto;
    }
} */