@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

:root {
    font-size: 62.5%;
    --default-bgcolor: #f1f5f9;
    --default-color: #000;

    --fade-bgcolor: #cbd5e1;
    --general-bgcolor: #b91c1c;
    --division-bgcolor: #7f1d1d;
    --button-bgcolor: #d97706;
    --selected-bgcolor: #ef4444;
    --focus-bgcolor: #92400e;
    --focus-color: #f1f5f9;

    --valid-color: #22c55e;
    --invalid-color: #dc2626;
    --general-theme-font: 'Raleway', Monospace, sans-serif;

    --border-radius: 1rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
}

button {
    background-color: var(--button-bgcolor);
    outline-color: var(--general-bgcolor);
    font-family: var(--general-theme-font);
    outline-width: thick;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: var(--border-radius);
}

button:active:not(:disabled) {
    transform: scale(0.97);
}

.container div {
    padding: 1rem;
    z-index: 0;
}

div.container {
    background-color: var(--fade-bgcolor);
    color: var(--default-color);
    font-family: var(--general-theme-font);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

div.wrapper {
    background-color: var(--default-bgcolor);
    border-radius: var(--border-radius);
    max-width: 95%;
    max-height: 100%;
    width: max(80ch, 40rem);
    height: max(90ch, 40rem);
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

div.top {
    padding: 1rem;
}

div.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

select,
div.selection:after {
    grid-area: select;
}

div.selection {
    width: 100%;
    min-width: 10ch;
    max-width: 15ch;
    border: 1px solid #777;
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
    font-size: 1.8rem;
    cursor: pointer;
    background-color: var(--default-bgcolor);
    display: grid;
    grid-template-areas: "select";
    align-items: center;
}

div.selection::after {
    content: "";
    width: 1.5rem;
    height: 1rem;
    background-color: var(--general-bgcolor);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    justify-self: end;
}

div.title {
    font-size: 2rem;
}

div.faction {
    display: flex;
    gap: 1rem;
}

button.btn-faction {
    height: 4rem;
    font-size: 3rem;
    border: .5rem solid transparent;
}

button.btn-faction.turn {
    border-bottom-color: var(--general-bgcolor);
}

.human {
    background-color: var(--selected-bgcolor);
}

div.board,
div.overlay {
    background-color: var(--general-bgcolor);
    flex: 1;
    display: grid;
    place-items: center;
}

div.board {
    z-index: 0;
    position: relative;
}

div.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
    z-index: 1;
    grid-template-rows: 3fr 1fr;
}

div.output {
    font-size: 12rem;
}

div.results {
    font-size: 5rem
}

table {
    border-collapse: collapse;
    outline: 0;
}

td {
    border: 0.5rem solid var(--division-bgcolor);
    width: 6.5rem;
    height: 6.5rem;
}

table tr:first-child td {
    border-top: 0.5rem solid var(--general-bgcolor);
}

table tr:last-child td {
    border-bottom: 0.5rem solid var(--general-bgcolor);
}

table tr td:first-child {
    border-left: 0.5rem solid var(--general-bgcolor);
}

table tr td:last-child {
    border-right: 0.5rem solid var(--general-bgcolor);
}

button.btn-game {
    background-color: var(--general-bgcolor);
    color: var(--default-color);
    border-radius: 0;
    font-size: 5rem;
}

.marked {
    animation: 1s scale;
}

.upscale {
    animation: 1s upscale;
}

button.btn-controls {
    height: 4rem;
    font-size: 2rem;
}

@keyframes scale {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        transform: scale(1.3);
        opacity: 1;
    }

    100% {
        transform: scale(1);
    }
}

@keyframes upscale {
    0% {
        transform: scale(0);
        opacity: 0.2;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}